# Database Configuration
DB_URL=postgresql://postgres:postgres@localhost:5432/prd

# API Configuration
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=

# Environment
NODE_ENV=production

# RunPod API Configuration
RUNPOD_API_URL=https://l7i1ghaqgdha36-3000.proxy.runpod.net

# JWT Secret (generate using: python generate_hash.py)
SECRET_KEY=your-secret-key-here
